<h1>Sentiment Analysis Project</h1>
<app-input-form></app-input-form>
<pre></pre>
<pre></pre>
<h1>Predict Sentiment for movies now showing in theatres</h1>
<div class="d-flex justify-content-around">
    <a [routerLink]="'/blackPanther'" routerLinkActive="active"><img src="assets/blackPantherImage.avif"></a>
    <a [routerLink]="'/glassOnion'" routerLinkActive="active"><img src="assets/GlassOnionImage.avif"></a>
    <a [routerLink]="'/blackAdam'" routerLinkActive="active"><img src="assets/BlackAdamImage.avif"></a>
</div>

